<!DOCTYPE html>
<html lang="en">
    

<body>
      
      <main>
    <h1 style="padding: 15px ;">FUNCINOALIDAD PERMITIDA SOLO PARA USUARIO ADMINISTRADOR</h1>    
    <br>
        <a class="botonVolver" href="/">Listado de Películas</a>
    </main>
</body>
</html>